
@media screen and (max-width: 1920px) {
    .container__white__background {
        display: flex;
    }
    .container__mobile {
        display: none;
    }

}


@media screen and (max-width: 1200px) {
    .container__white__background {
        display: flex;
    }
    .container__mobile {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .container__white__background {
        display: none;
    }
    .container__mobile {
        display: flex;
    }
}


@media screen and (max-width: 768px) {
    
    .container__mobile {
        display: flex;
    }
    .container__white__background {
        display: none;
    }
    .inner__container {
        height: 80%;
    }
    .inner__header span {
        font-size: 1.9rem;
    }
    .inner__container {
        height: 70%;
    }
    .inner__main__content::before {
        display: none;
    }
}




@media screen and (max-width: 320px) {
    .inner__header span {
        font-size: 1.5rem;
    }
    .container__mobile {
        display: flex;
    }
    .container__white__background {
        display: none;
    }
    
}

